.container {
  background-color: #eee;
  list-style: none;
  min-width: 200px;
  li {
    background-color: #ccc;
    span {
      padding: 7px 20px;
      display: flex;
      justify-content: space-between;
    }
    form {
      label#obj_title {
        width: auto;
      }
      input#obj_title {
        width: calc( 100% - 65px );
      }
      input#obj_influence, input#deadline, input#time {
        width: calc( 100% - 50px );
      }
      input#obj_time {
        width: calc( 100% - 65px );
      }
      input#datepicker {
        width: calc( 100% - 35px );
      }
    }
    .delete {
      text-align: right;
    }
  }
}
